.blocks-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 16px;
  margin-top: 0px;
  overflow: scroll;
}

.blocks-field__row-index {
  margin-right: 8px;
}

.blocks-field__column-index {
  display: flex;
  margin-left: 14px;
}

.blocks-field__column-index div {
  width: 34px;
}

.testArray {
  display: flex;
  justify-content: center;
  flex-direction: row;
}